html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.chatter-box-background {
    background-image: url("../img/background.png");
    background-size: cover;
}

.chatter-box-footer {
    background-color: rgb(51, 52, 51);
    height: 10px;
}

.chatter-box-header {
    background-color: rgb(51, 52, 51);
    height: 50px;
}

.chatter-box-header img {
    width: 40px;
}

.align-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.align-center-end {
    display: flex;
    align-items: center;
    justify-content: end;
}

.align-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dropdown-menu {
    display: none;
    position: absolute;
    z-index: 1000;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-item {
    color: white;
}

.dropdown-item:hover {
    color: black;
}
