.user-list {
    list-style-type: none;
    padding: 0;
}

.message-data {
    margin-bottom: 15px
}

.message-data-time {
    color: #434651;
    padding-left: 6px;
}

.message {
    color: #444;
    padding: 18px 20px;
    line-height: 26px;
    font-size: 16px;
    border-radius: 7px;
    display: inline-block;
    position: relative;
    min-width: 50px;
}

.message:after {
    bottom: 100%;
    left: 7%;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border: 10px solid transparent;
    border-bottom-color: #fff;
    margin-left: -10px;
}

.my-message {
    background: #efefef
}

.my-message:after {
    bottom: 100%;
    left: 30px;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border: 10px solid transparent;
    border-bottom-color: #efefef;
    margin-left: -10px;
}

.other-message {
    background: #e8f1f3;
    text-align: right;
}

.other-message:after {
    border-bottom-color: #e8f1f3;
    left: 93%;
}

.chat-message {
    padding: 20px;
}

.online,
.offline,
.me {
    margin-right: 2px;
    font-size: 8px;
    vertical-align: middle;
}

.online {
    color: #86c541;
}

.offline {
    color: #e47297;
}

/*-------------------------------------------------------------*/

.chat-container {
    min-height: 750px;
    background-color: #d9e5cd;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    border-color: #ffffff;
    width: 80%;
}

.groups {
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: #ffffff;
    width: 75px;
}

.group-top {
    height: 75px;
    width: 75px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #ffffff;
}

.group-middle {
    height: 620px;
    overflow-y: scroll;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #ffffff;
}

.group {
    margin-top: 13px;
    margin-left: 5px;
}

.group-bottom {
    height: 75px;
}

.users {
    min-height: 750px;
    min-width: 160px;
    padding-right: 0px;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: #ffffff;
}

.users-btn {
    height: 50px;
    width: 50px;
}

.user {
    height: 55px;
    margin-top: 6px;
    background: rgba(0, 0, 0, 0);
    border-style: none;
}

.user:hover {
    background-color: #cbe3b3;
    border-radius: 5px;
}

.users-top {
    height: 75px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #ffffff;
}

.settings-btn {
    height: 35px;
    width: 35px;
}

.users-middle {
    overflow-y: scroll;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #ffffff;
    height: 620px;
}

.users-bottom {
    height: 75px;
}

.search {
    padding: 12px;
}

.chat {
    width: 100%;
}

.chat-top {
    height: 75px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #ffffff;
}

.chat-middle {
    height: 620px;
    overflow-y: scroll;
    padding-top: 220px;
}

.chat-bottom {
    height: 75px;
}

.profile-circle-img {
    height: 50px;
    width: 50px;
}

.list-not-styled {
    margin-left: 10px;
    margin-right: 10px;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #d9e5cd;
}

::-webkit-scrollbar-thumb {
    background: #d9e5cd;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.users.closed {
    width: 0;
    overflow: hidden;
    transition: width 0.5s ease-out;
}

.hidden {
    display: none;
}

.search-hidden {
    display: none;
}