.user-list {
    list-style-type: none;
    padding: 0;
}

.message-data {
    margin-bottom: 15px
}

.message-data-time {
    color: #434651;
    padding-left: 6px;
}

.message {
    color: #444;
    margin-top: 5px;
    padding: 10px 10px;
    line-height: 26px;
    font-size: 14px;
    border-radius: 7px;
    display: inline-block;
    position: relative;
    min-width: 50px;
}

.my-message {
    background: #efefef
}

.other-message {
    background: #e8f1f3;
}

.chat-message {
    padding: 20px;
}

.online,
.offline,
.me {
    margin-right: 2px;
    font-size: 8px;
    vertical-align: middle;
}

.online {
    color: #86c541;
}

.offline {
    color: #e47297;
}

/*-------------------------------------------------------------*/

.chat-container {
    min-height: 750px;
    background-color: #d9e5cd;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    border-color: #ffffff;
    width: 80%;
}

.groups {
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: #ffffff;
    width: 75px;
}

.group-top {
    height: 75px;
    width: 75px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #ffffff;
}

.group-middle {
    height: 620px;
    overflow-y: scroll;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #ffffff;
}

.group {
    margin-top: 13px;
    margin-left: 5px;
}

.group-bottom {
    height: 75px;
}

.users {
    min-height: 750px;
    min-width: 160px;
    padding-right: 0px;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: #ffffff;
}

.users-btn {
    height: 50px;
    width: 50px;
}

.user {
    height: 55px;
    margin-top: 6px;
    background: rgba(0, 0, 0, 0);
    border-style: none;
}

.user:hover {
    background-color: #cbe3b3;
    border-radius: 5px;
}

.user-active-target {
    background-color: #cbe3b3;
}

.users-top {
    height: 75px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #ffffff;
}

.settings-btn {
    height: 35px;
    width: 35px;
}

.users-middle {
    overflow-y: scroll;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #ffffff;
    height: 620px;
}

.users-bottom {
    height: 75px;
}

.search {
    padding: 12px;
}

.chat {
    width: 100%;
}

.chat-top {
    height: 75px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #ffffff;
}

.chat-middle {
    height: 620px;
    overflow-y: scroll;
}

.chat-bottom {
    height: 75px;
}

.avatar {
    height: 50px;
    width: 50px;
    margin-right: 10px;
}

.avatar-online {
    border: 2px solid yellowgreen;
}

.avatar-offline {
    border: 2px solid darkred;
}

.list-not-styled {
    margin-left: 10px;
    margin-right: 10px;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #d9e5cd;
}

::-webkit-scrollbar-thumb {
    background: #d9e5cd;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.users.closed {
    width: 0;
    overflow: hidden;
    transition: width 0.5s ease-out;
}

.hidden {
    display: none;
}

.search-hidden {
    display: none;
}

.image-upload {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
}

.extra-chat-margin {
    margin-top: 60px;
}

#context-input-emote {
    transition: 0.5s;
    transition-property: color, opacity;
}

#context-input-emote:hover {
    opacity: 0.9;
    color: lightskyblue;
    cursor: pointer;
}

#context-input-file {
    transition: 0.5s;
    transition-property: color, opacity;
}

#context-input-file:hover {
    opacity: 0.9;
    color: lightskyblue;
    cursor: pointer;
}

#context-input-text {
    padding-right: 10%;
}

.input {
    position: relative;
    width: 90%;
    z-index: 1;
}

.input-buttons {
    position: absolute;
    display: flex;
    gap: 5px;
    right: 13%;
    top: 0;
    height: 100%;
    z-index: 10;
}

.input-end {
    width: 10%;
}

.green {
    color: forestgreen;
}

dialog {
    border: none;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

dialog div {
    color: rgba(255, 10, 50, 0.9);
}

dialog::backdrop {
    background: black;
    opacity: 0.3;
    overflow: hidden;
}