.user-list {
    list-style-type: none;
    padding: 0px;
}

.message-data {
    margin-bottom: 15px
}

.message-data-time {
    color: #434651;
    padding-left: 6px;
}

.message {
    color: #444;
    padding: 18px 20px;
    line-height: 26px;
    font-size: 16px;
    border-radius: 7px;
    display: inline-block;
    position: relative;
    min-width: 50px;
}

    .message:after {
        bottom: 100%;
        left: 7%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-bottom-color: #fff;
        border-width: 10px;
        margin-left: -10px;
    }

.my-message {
    background: #efefef
}

    .my-message:after {
        bottom: 100%;
        left: 30px;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-bottom-color: #efefef;
        border-width: 10px;
        margin-left: -10px;
    }

.other-message {
    background: #e8f1f3;
    text-align: right;
}

    .other-message:after {
        border-bottom-color: #e8f1f3;
        left: 93%;
    }

.chat-message {
    padding: 20px;
}

.online,
.offline,
.me {
    margin-right: 2px;
    font-size: 8px;
    vertical-align: middle;
}

.online {
    color: #86c541;
}

.offline {
    color: #e47297;
}

/*-------------------------------------------------------------*/

.chat-container {
    min-height: 750px;
    background-color: #d9e5cd;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    border-color: #ffffff;
    margin-top: 50px;
}

.group {
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: #ffffff;
    width: 75px;
}

.group-top {
    height: 75px;
    width: 75px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #ffffff;
}

.group-bottom {
    overflow-y: scroll;
    overflow-x: hidden;
}

.users {
    min-height: 750px;
    min-width: 300px;
    padding-right: 0px;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: #ffffff;
}

.users-btn {
    height: 50px;
    width: 50px;
}

.users-top {
    height: 75px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #ffffff;
}

.users-bottom {
    overflow-y: scroll;
}

.search {
    padding: 12px;
}

.chat {
    width: 100%;
}

.chat-top {
    height: 75px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #ffffff;
}

.chat-middle {
    height: 600px;
    overflow-y: scroll;
}

.chat-bottom {
    height: 75px;
}

.profile-circle-img {
    height: 50px;
    width: 50px;
}

.list-unstyled {
    margin-left: 10px;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #d9e5cd;
}

::-webkit-scrollbar-thumb {
    background: #d9e5cd;
}

    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

::-webkit-scrollbar:horizontal {
    height: 0px;
}

::-webkit-scrollbar-thumb:horizontal {
    border-radius: 0px;
}

.align-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.align-center-end {
    display: flex;
    align-items: center;
    justify-content: end;
}

.align-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.name {
    font-size: 15px;
}