@page
@model ChatterBox.Application.Pages.IndexModel
@{
}

<section>
    <div class="d-flex align-center text-center">
        <div class="flex-column text-capitalize">
            <div>
                Welcome to the Chatter Box
            </div>

            <div>
                Please
                <a class="fw-bold text-decoration-none" href="~/Identity/Account/Login">
                    Sign-Up
                </a>
                or
                <a class="fw-bold text-decoration-none" href="~/Identity/Account/Login">
                    Log-In
                </a>
                to continue
            </div>
        </div>
    </div>
</section>