@page
@model ChatterBox.Application.Pages.IndexModel

@{
    Layout = "Shared/_Layout.cshtml";
}

<div class="vh-100">
    <div class="d-flex flex-column text-center h-100 justify-content-center align-items-center">
        <div class="fw-bold fs-4">
            Welcome To The Chatter Box
        </div>

        <div>
            Please
            <a class="fw-bold text-decoration-none" href="~/Identity/Account/Login">
                Sign-Up
            </a>
            or
            <a class="fw-bold text-decoration-none" href="~/Identity/Account/Login">
                Sign-In
            </a>
            to continue
        </div>
    </div>
</div>