@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout != null)
    {
        Layout = parentLayout.ToString();
    }
}

<div class="vh-100">
    <div class="row h-100">
        <div class="col-md-3 h-100" style="background-color: rgb(52, 51, 52)">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            <div class="d-flex mt-5 justify-content-center align-items-center">
                <h2>Change your account settings</h2>
            </div>
            <div>
                @RenderBody()
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}