@using ChatterBox.Interfaces.Entities;

@inject SignInManager<ChatUser> SignInManager;

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"]</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/global.css" asp-append-version="true" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/global.js" asp-append-version="true"></script>

    <script src="https://kit.fontawesome.com/633356e7af.js" crossorigin="anonymous"></script>
</head>

<body class="chatter-box-background">
    <header class="d-flex row fixed-top chatter-box-header">
        <div class="d-flex col-md-6 m-auto justify-content-start align-items-center">
            <button class="btn btn-border-0">
                <a href="~/Index" class="fa-solid fa-comment fa-xl text-decoration-none">
                    <span class="text-white fw-normal text-capitalize">
                        Chat
                    </span>
                </a>
            </button>
        </div>

        <div class="d-flex col-md-6 m-auto justify-content-end align-items-center">
            @if (SignInManager?.Context?.User.Identity?.IsAuthenticated ?? false)
            {
                <a href="~/Identity/Account/Manage" class="text-decoration-none">
                    <span class="text-white fw-normal">
                        @SignInManager.Context.User.Identity.Name
                    </span>

                    <img src="~/img/profile-circle.svg" alt="avatar" />
                </a>
            }
        </div>
    </header>

    <div>
        @RenderBody()
    </div>

    <footer class="fixed-bottom chatter-box-footer">
    </footer>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>